@model MovieTicketBooking.Models.Proekcija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proekcija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vreme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vreme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFilmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFilmNavigation.Glumci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSalaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSalaNavigation.Ime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdProekcija">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
