@model IEnumerable<MovieTicketBooking.Models.Proekcija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vreme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFilmNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSalaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vreme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFilmNavigation.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSalaNavigation.Ime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProekcija">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProekcija">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProekcija">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
