@model IEnumerable<MovieTicketBooking.Models.Proekcija>

@{
    ViewData["Title"] = "Index";
}

<h2>Showtimes</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vreme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFilmNavigation.Naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSalaNavigation.Ime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vreme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFilmNavigation.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSalaNavigation.Ime)
            </td>
            <td>
                <a asp-controller="SedisteZaProekcijas" asp-action="Index" asp-route-id="@item.IdProekcija">See Seats</a>
            </td>
        </tr>
}
    </tbody>
</table>
