@model IEnumerable<MovieTicketBooking.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h2>My Reservations</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrojNaSedista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Movie
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProekcijaNavigation.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProekcijaNavigation.Vreme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProekcijaNavigation.Tip)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrojNaSedista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProekcijaNavigation.IdFilmNavigation.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProekcijaNavigation.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProekcijaNavigation.Vreme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProekcijaNavigation.Tip)
            </td>
            @if (item.Status.Equals("pending"))
            {
                <td class="text-right col-4">
                    <a asp-controller="Plakanjes" asp-action="Create" asp-route-id="@item.IdRezervacija" class="btn btn-primary">Proceed To Payment</a>
                    <a asp-action="Cancel" asp-route-id="@item.IdRezervacija" class="btn btn-danger">Cancel Reservation</a>
                </td>
            }
            else
            {
                <td class="text-right col-4"></td>
            }
        </tr>
}
    </tbody>
</table>
