@model MovieTicketBooking.Models.Plakanje

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plakanje</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NacinNaPlakanje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NacinNaPlakanje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumIVreme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumIVreme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKorisnikNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKorisnikNavigation.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRezervacijaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRezervacijaNavigation.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPlakanje">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
