@model IEnumerable<MovieTicketBooking.Models.Plakanje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NacinNaPlakanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumIVreme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKorisnikNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRezervacijaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Suma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NacinNaPlakanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumIVreme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKorisnikNavigation.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRezervacijaNavigation.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPlakanje">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPlakanje">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPlakanje">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
